/*
==========================================================================
  					  					  		   Панели
==========================================================================
*/

#D {
  margin-top: 50px;
}

#DS {
	margin-top: 60px;
	font-size: 20px;
}
